<html ng-app="calculator">
	<meta charset="utf-8">
	<script src="https://code.angularjs.org/1.6.5/angular.js"></script>
	<script src="app.js"></script>
	<body ng-controller="indexController">
		<div>
			<input type="number" ng-model="calc" \></br>
			<button ng-click="one()">1</button> <button ng-click="two()">2</button> <button ng-click="three()">3</button> <button ng-click="addThem()">+</button></br>
			<button ng-click="four()">4</button> <button ng-click="five()">5</button> <button ng-click="six()">6</button> <button ng-click="subThem()">-</button></br>
			<button ng-click="seven()">7</button> <button ng-click="eight()">8</button> <button ng-click="nine()">9</button> <button ng-click="multThem()">x</button></br>
			<button ng-click="decimal()">.</button> <button ng-click="zero()">0</button> <button ng-click="equals()">=</button> <button ng-click="divideThem()">/</button>
		</div>
	</body>
</html